body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(130deg, #06063f 20%, #31a2f2 100%);
    font-family: Arial, sans-serif;
}

#sidebar {
    width: 80px;
    transition: width 0.3s;
    background: linear-gradient(130deg, #015794a8 20%, #09096e 80%);
    color: #fff;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    right: 0;
}

#sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* Add this to distribute nav items evenly */
    height: 50%;
    /* Add this to make nav take full height */

}

#sidebar a {
    text-decoration: none;
    color: black;
    padding: 16px 0;
    text-align: center;
    width: 100%;
    transition: background 0.3s;
    border-bottom: 1px solid #3f3f3f4c;
}

#sidebar a:hover {
    color: #d1a411;
    border-left: 2px solid #d1a411;
}

#sidebar a.active {
    color: #d1a411;
    border-left: 2px solid #d1a411;
}



#sidebar.active {
    background-color: #444;
}

#content {


    width: calc(100% - 80px);
    transition: margin-left 0.3s;
}

#sidebar.expanded {
    width: 250px;
}

#sidebar.expanded nav a {
    display: flex;
    justify-content: start;
    padding-left: 20px;

}

#sidebar.expanded nav a i {
    margin-right: 10px;
}



.icon {
    text-align: center;

}

.sota-logo {
    height: 100px;
}

.container {
    margin-right: 260px;
    padding: 20px;
}

.header {
    text-align: center;
    margin-top: -20px;
}

.header img {
    max-width: 240px;
    height: auto;
}

.bubble-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bubble {
    position: absolute;
    bottom: -100px;
    width: 50px;
    height: 50px;
    background-color: rgb(252, 252, 18);
    border-radius: 50%;
    animation: rise 10s infinite ease-in-out;
}

@keyframes rise {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.bubble:nth-child(1) {
    width: 60px;
    height: 60px;
    left: 10%;
    animation-duration: 14s;
}

.bubble:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 25%;
    animation-duration: 13s;
}

.bubble:nth-child(3) {
    width: 70px;
    height: 70px;
    left: 40%;
    animation-duration: 15s;
}

.bubble:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 60%;
    animation-duration: 6s;
}

.bubble:nth-child(5) {
    width: 45px;
    height: 45px;
    left: 80%;
    animation-duration: 8s;
}

.bubble:nth-child(6) {
    width: 45px;
    height: 45px;
    left: 80%;
    animation-duration: 4s;
}

.bubble:nth-child(7) {
    width: 45px;
    height: 45px;
    left: 80%;
    animation-duration: 6s;
}



button {
    background-color: #ffc107;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
}

.fa-brands {
    font-size: 20px;
    color: #131312;
    margin: 0 10px;
    border-radius: 10px;
}

.fa-brands:hover {
    color: #ede500;
    text-shadow: 0 0 10px #ffc107;
}



@media only screen and (max-width: 500px) {
    .sota-logo {
        flex: 1;
        padding: 10px 0;

    }

    .sidebar {
        position: fixed;
        width: 100%;
        height: 60px;
        bottom: 0;
        top: auto;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #33333359;
        /* flex-direction: column;
        overflow-x: hidden; */
        transform: translateY(100%);
        transition: transform 0.3s ease;
        z-index: 1000;
    }

    #sidebar.active {
        transform: translateY(0);
    }

    #sidebar a {
        flex: 1;
        padding: 10px 0;
        font-size: 14px;
    }

    #sidebar.active {
        transform: none;
    }

    .container {
        margin-left: 0;
        padding-bottom: 80px;
    }

    .sidebar-toggle {
        display: block;
    }

    .image1 {
        display: none;
    }


    .sidebar-toggle {
        display: none;
        position: fixed;
        top: 10px;
        left: 10px;
        font-size: 30px;
        color: rgb(10, 9, 9);
        cursor: pointer;
        z-index: 1000;
    }

}


.preply {

    mix-blend-mode: multiply;
    width: 200px;
    height: 150px;
    /* This will blend the white background with the blue background */
}

/* Make the cards display in a grid with 2 columns */
.col-md-7 {

    transform: translateX(100%);
    animation: slideDown 0.5s ease-in-out forwards, reverseSlide 0.5s ease-in-out forwards 0.5s;
}

.col-md-5 {
    transform: translateY(100%);
    animation: slideRight 0.5s ease-in-out forwards, reverseSlide 0.5s ease-in-out forwards 0.5s;
}



@keyframes slideDown {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes reverseSlide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

.navbar {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ccc;
}

.navbar-toggler {
    border: none;
    padding: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar-toggler-icon {
    font-size: 1.5rem;
}

.collapse {
    display: none;
}



@media only screen and (max-width: 500px) {
    #content{
        width: 100%;
    }
    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        margin-right: 0;
    }

    .nav-link {
        padding: 1rem;
    }

    .image1 {
        display: none;
    }

    .sidebar-toggle {
        display: block;
    }

    #sidebar.active {
        transform: none;
    }

    #sidebar {
        background-color: #3333336e;

    }
    #sidebar {
        width: 100%;
        height: 60px;
        bottom: 0;
        top: auto;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: height 0.3s;
    }

    #sidebar nav {
        flex-direction: row;
        height: auto;
        width: 100%;
    }

    #sidebar nav a {
        flex: 1;
        padding: 10px 0;
        border-bottom: none;
        border-right: 1px solid #3f3f3f4c;
    }

    #sidebar nav a:last-child {
        border-right: none;
    }

    #sidebar.expanded {
        height: 100vh;
    }

    #sidebar.expanded nav {
        flex-direction: column;
    }

    .sidebar-toggle {
        display: none;
        position: fixed;
        top: 10px;
        left: 10px;
        font-size: 30px;
        color: rgb(10, 9, 9);
        cursor: pointer;
        z-index: 1000;
    }

    .image1 {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }

    .swiper-slide iframe {
        width: 90%;
        height: auto;
    }
   
}
@media (max-width: 500px) {
    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        margin-right: 0;
    }

    .nav-link {
        padding: 1rem;
    }

    .a {
        display: none;
    }

    .sidebar-toggle {
        display: block;
    }

    .sidebar {
        background-color: #3333336e;
    }
    .stat {
        font-size: 20px;
    }

    .stat-container {
        border-left: none;
        padding-left: 0;
        margin-right: 0;
        display: block;
        margin-bottom: 20px;
    }

    .container {
        flex-direction: column;
        height: auto;
    }

    h1 {
        font-size: 20px;
    }

    .sota-logo, .preply {
        width: 100px;
        height: 50px;
    }

}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 0, 128, 0.8);
    /* Màu tím với độ trong suốt */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 9999;
    /* Đảm bảo lớp phủ ở trên cùng */
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}